*
{
	margin: 0px;
	padding: 0px;
}

body
{
	background: #DEDEDE;
}

#mainDiv
{
	width: 800px;
	margin: auto;
	
	background: #2B2F33;
	
	color: white;
	font-family: verdana;
	text-align: center;
}

#topHeader
{
	font-family: impact;
	font-size: 50px;
	background: #1F1F1F;
	color: #59BCE3;
}

#topNavigation
{
	background: #454545;
	font-size: 40px;
}

#mainSection
{
	
}

article
{
	margin: auto;
	margin-top: 10px;
	padding: 10px;
	width: 90%;
	font-size: 45px;
	border: 2px solid black;
	
}
article table
{
	margin: auto;
}
article header
{
	font: bold 50px tahoma;
	color: white;
}

#bottomFooter
{
	margin-top: 50px;
	padding: 10px;
	background: #1F1F1F;
	color: #525252;
	font-family: impact;
}

input
{
	font-size: 35px;
	text-align: center;
	width: 200px;
	padding: 10px;
}

a:link
{
	text-decoration: none;
	color: #FF8533;
}

a:visited
{
	
	color: #FF8533;
}

a:hover
{
	color: #DBDBDB;
}

a:active
{
	color: #DBDBDB;
}

.error
{
	color: red;
	font-family: palatino;
}

#shows
{
	width: 100%;
	border-collapse: collapse;
}

.showName
{
	width: 100%;
	margin-top: 10px;
	background: #3E4040;
}

label
{
	color: white;
}

.removeShow:link
{
	font-size: 18px;
	color: red;
}
.removeShow:visited
{
	
}
.removeShow:hover
{
	color: white;
}